# Data 컬럼 분석

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("./boxofficeFiles/boxoffice_over100.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     274 non-null    object
 1   개봉일     274 non-null    object
 2   매출액     274 non-null    int64
 3   관객수     274 non-null    int64
 4   스크린수    274 non-null    int64
 5   배급사     274 non-null    object
dtypes: int64(3), object(3)
memory usage: 13.0+ KB

In [3]:
df["개봉월"] = 0
for i in range(len(df)):
    df.loc[i,"개봉월"] = int(df.loc[i,"개봉일"].split("-")[1])

In [7]:
df.loc[0:10,]

,영화명,개봉일,매출액,관객수,스크린수,배급사,개봉월
0,명량,2014-07-30,135748398910,17613682,1587,(주)씨제이이엔엠,7
1,극한직업,2019-01-23,139651845516,16265618,2003,(주)씨제이이엔엠,1
2,베테랑,2015-08-05,105168155250,13414009,1115,(주)씨제이이엔엠,8
3,도둑들,2012-07-25,93664808500,12983178,1091,(주)쇼박스,7
4,7번방의 선물,2013-01-23,91431914670,12811206,866,(주)넥스트엔터테인먼트월드(NEW),1
5,암살,2015-07-22,98463132781,12705700,1519,(주)쇼박스,7
6,"광해, 왕이 된 남자",2012-09-13,88899448769,12319390,1001,(주)씨제이이엔엠,9
7,신과함께-인과 연,2018-08-01,102666146909,12274996,2235,롯데컬처웍스(주)롯데엔터테인먼트,8
8,택시운전사,2017-08-02,95853645649,12186327,1906,(주)쇼박스,8
9,부산행,2016-07-20,93178283048,11565479,1788,(주)넥스트엔터테인먼트월드(NEW),7
10,기생충,2019-05-30,85883963645,10085275,1948,(주)씨제이이엔엠,5