# Data 컬럼 분석

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("./data/boxoffice_over100.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     274 non-null    object
 1   개봉일     274 non-null    object
 2   매출액     274 non-null    int64
 3   관객수     274 non-null    int64
 4   스크린수    274 non-null    int64
 5   배급사     274 non-null    object
dtypes: int64(3), object(3)
memory usage: 13.0+ KB

In [3]:
df["개봉월"] = 0
for i in range(len(df)):
    df.loc[i,"개봉월"] = int(df.loc[i,"개봉일"].split("-")[1])

In [4]:
df = df.loc[0:10,]

In [5]:
df

,영화명,개봉일,매출액,관객수,스크린수,배급사,개봉월
0,명량,2014-07-30,135748398910,17613682,1587,(주)씨제이이엔엠,7
1,극한직업,2019-01-23,139651845516,16265618,2003,(주)씨제이이엔엠,1
2,베테랑,2015-08-05,105168155250,13414009,1115,(주)씨제이이엔엠,8
3,도둑들,2012-07-25,93664808500,12983178,1091,(주)쇼박스,7
4,7번방의 선물,2013-01-23,91431914670,12811206,866,(주)넥스트엔터테인먼트월드(NEW),1
5,암살,2015-07-22,98463132781,12705700,1519,(주)쇼박스,7
6,"광해, 왕이 된 남자",2012-09-13,88899448769,12319390,1001,(주)씨제이이엔엠,9
7,신과함께-인과 연,2018-08-01,102666146909,12274996,2235,롯데컬처웍스(주)롯데엔터테인먼트,8
8,택시운전사,2017-08-02,95853645649,12186327,1906,(주)쇼박스,8
9,부산행,2016-07-20,93178283048,11565479,1788,(주)넥스트엔터테인먼트월드(NEW),7
10,기생충,2019-05-30,85883963645,10085275,1948,(주)씨제이이엔엠,5

In [6]:
df.loc[4,"영화명"] = "7번방의선물"
df.loc[7,"영화명"] = "신과함께-인과연"
df.loc[6,"영화명"] = "광해"

In [7]:
initial_screen = pd.read_csv("./data/initial_screen.csv")
initial_screen

         영화명  초기스크린수  초기스크린점유율      초기좌석수  초기좌석점유율
0     7번방의선물   605.0      16.0   602838.0     27.1
1         광해   688.0      20.1   733974.0     33.3
2       극한직업  1553.0      25.4  1557839.0     53.3
3        기생충  1783.0      31.5  1461863.0     52.9
4        도둑들   890.0      26.4   847704.0     40.1
5         명량  1159.0      33.6  1152173.0     48.4
6        베테랑   957.0      22.0   916883.0     34.8
7        부산행  1571.0      33.0  1668254.0     61.3
8   신과함께-인과연  1967.0      35.9  1742278.0     60.4
9         암살  1264.0      28.2  1209819.0     49.0
10     택시운전사  1446.0      27.5  1302719.0     43.8

In [8]:
movie_info = pd.merge(df, initial_screen)

In [9]:
movie_info

,영화명,개봉일,매출액,관객수,스크린수,배급사,개봉월,초기스크린수,초기스크린점유율,초기좌석수,초기좌석점유율
0,명량,2014-07-30,135748398910,17613682,1587,(주)씨제이이엔엠,7,1159.0,33.6,1152173.0,48.4
1,극한직업,2019-01-23,139651845516,16265618,2003,(주)씨제이이엔엠,1,1553.0,25.4,1557839.0,53.3
2,베테랑,2015-08-05,105168155250,13414009,1115,(주)씨제이이엔엠,8,957.0,22.0,916883.0,34.8
3,도둑들,2012-07-25,93664808500,12983178,1091,(주)쇼박스,7,890.0,26.4,847704.0,40.1
4,7번방의선물,2013-01-23,91431914670,12811206,866,(주)넥스트엔터테인먼트월드(NEW),1,605.0,16.0,602838.0,27.1
5,암살,2015-07-22,98463132781,12705700,1519,(주)쇼박스,7,1264.0,28.2,1209819.0,49.0
6,광해,2012-09-13,88899448769,12319390,1001,(주)씨제이이엔엠,9,688.0,20.1,733974.0,33.3
7,신과함께-인과연,2018-08-01,102666146909,12274996,2235,롯데컬처웍스(주)롯데엔터테인먼트,8,1967.0,35.9,1742278.0,60.4
8,택시운전사,2017-08-02,95853645649,12186327,1906,(주)쇼박스,8,1446.0,27.5,1302719.0,43.8
9,부산행,2016-07-20,93178283048,11565479,1788,(주)넥스트엔터테인먼트월드(NEW),7,1571.0,33.0,1668254.0,61.3
10,기생충,2019-05-30,85883963645,10085275,1948,(주)씨제이이엔엠,5,1783.0,31.5,1461863.0,52.9

In [10]:
movie_info.drop(["매출액", "개봉월"], axis=1, inplace=True)

In [11]:
movie_info.loc[:,"초기스크린수대비관객수"] = movie_info.loc[:,"관객수"] / movie_info.loc[:,"초기스크린수"]
movie_info.loc[:,"초기스크린점유율대비관객수"] = movie_info.loc[:,"관객수"] / movie_info.loc[:,"초기스크린점유율"]
movie_info.loc[:,"초기좌석수대비관객수"] = movie_info.loc[:,"관객수"] / movie_info.loc[:,"초기좌석수"]
movie_info.loc[:,"초기좌석점유율대비관객수"] = movie_info.loc[:,"관객수"] / movie_info.loc[:,"초기좌석점유율"]
movie_info.to_csv("./data/top11_movie_info.csv", index=False)