# html 파일 정제 후 사용가능한 데이터 프레임으로 제작

In [1]:
import numpy as np
import pandas as pd

In [2]:
# html 파일은 lxml이라는 패키지가 필요함 -> python3의 경우 pip3로 다운받아야 에러가 안뜸
#!pip3 install lxml

In [18]:
# 결과물 데이터 프레임
result = pd.DataFrame()
# 년도 설정
years = np.arange(2010, 2020)

In [20]:
for year in years:
    # 파일 불러오기
    df = pd.read_html(f"./boxofficeFiles/boxoffice_{year}.html", encoding="utf-8")
    df = df[1]

    # na값 제외하기
    for col in df.columns:
        df = df.drop(df[df[col].isna()].index)
    print(df.isna().sum().sum())
    df.reset_index(drop=True, inplace=True)

    # 년도별 박스오피스에는 해당 년도의 영화를 제외한 영화들도 포함되어 있음(재개봉 혹은 기타 사유로) 이는 제외
    # 전년도 12월 ~ 다음년도 1월 사이의 개봉일을 제외하고 나머지 개봉일들은 삭제하기
    drop_index = []
    for i in range(len(df)):
        if ((int(df.loc[i,"개봉일"].split("-")[0]) > (year + 1)) | (int(df.loc[i,"개봉일"].split("-")[0]) < (year - 1))) | (
            ((int(df.loc[i,"개봉일"].split("-")[0]) == (year - 1)) & (int(df.loc[i,"개봉일"].split("-")[1]) < 12)) | \
                ((int(df.loc[i,"개봉일"].split("-")[0]) == (year + 1)) & (int(df.loc[i,"개봉일"].split("-")[1]) > 1))
        ):
            drop_index.append(i)
    df.drop(drop_index, inplace=True)
    df.reset_index(drop=True, inplace=True)

    # 최종 데이터셋에 합치기
    result = pd.concat([result, df])
    print(f"{year} clear")

0
2010 clear
0
2011 clear
0
2012 clear
0
2013 clear
0
2014 clear
0
2015 clear
0
2016 clear
0
2017 clear
0
2018 clear
0
2019 clear

In [28]:
result.drop(["순위", "매출액 점유율", "상영횟수", "대표국적", "국적"], axis=1, inplace = True)

In [29]:
result.sort_values("관객수", ascending=False)

,영화명,개봉일,매출액,관객수,스크린수,배급사
0,명량,2014-07-30,135748398910,17613682,1587,(주)씨제이이엔엠
0,극한직업,2019-01-23,139651845516,16265618,2003,(주)씨제이이엔엠
0,베테랑,2015-08-05,105168155250,13414009,1115,(주)씨제이이엔엠
0,도둑들,2012-07-25,93664808500,12983178,1091,(주)쇼박스
0,7번방의 선물,2013-01-23,91431914670,12811206,866,(주)넥스트엔터테인먼트월드(NEW)
...,...,...,...,...,...,...
383,수상한 종업원(무삭제판),2018-05-29,5000,1,1,(주)가온콘텐츠
384,신입사원(무삭제판),2018-05-15,5000,1,1,(주)가온콘텐츠
585,중독: 관음증-무삭제판,2019-02-20,1000,1,1,(주)케이알씨지
168,스피릿 오브 베토벤,2014-12-10,0,0,1,(주)한경아르떼
169,호두까기 인형,2014-12-07,0,0,1,(주)패뷸러스