# 데이터 정제

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./data/boxoffice_base.csv")
df.head()

       영화명         개봉일           매출액       관객수  스크린수                  배급사
0       명량  2014-07-30  135748398910  17613682  1587            (주)씨제이이엔엠
1     극한직업  2019-01-23  139651845516  16265618  2003            (주)씨제이이엔엠
2      베테랑  2015-08-05  105168155250  13414009  1115            (주)씨제이이엔엠
3      도둑들  2012-07-25   93664808500  12983178  1091               (주)쇼박스
4  7번방의 선물  2013-01-23   91431914670  12811206   866  (주)넥스트엔터테인먼트월드(NEW)

In [3]:
df.tail()

                영화명         개봉일   매출액  관객수  스크린수       배급사
2425  수상한 종업원(무삭제판)  2018-05-29  5000    1     1  (주)가온콘텐츠
2426     신입사원(무삭제판)  2018-05-15  5000    1     1  (주)가온콘텐츠
2427   중독: 관음증-무삭제판  2019-02-20  1000    1     1  (주)케이알씨지
2428     스피릿 오브 베토벤  2014-12-10     0    0     1  (주)한경아르떼
2429        호두까기 인형  2014-12-07     0    0     1   (주)패뷸러스

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430 entries, 0 to 2429
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     2430 non-null   object
 1   개봉일     2430 non-null   object
 2   매출액     2430 non-null   int64
 3   관객수     2430 non-null   int64
 4   스크린수    2430 non-null   int64
 5   배급사     2430 non-null   object
dtypes: int64(3), object(3)
memory usage: 114.0+ KB

In [10]:
# 관객수 100만 밑으로는 실질적으로 영화의 흥행에 영향을 주는 요소가 존재하지 않는다는 가정
df_over100 = df[df["관객수"] > 1000000]
df_over100.info()
df_over100.to_csv("./data/boxoffice_over100.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274 entries, 0 to 273
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     274 non-null    object
 1   개봉일     274 non-null    object
 2   매출액     274 non-null    int64
 3   관객수     274 non-null    int64
 4   스크린수    274 non-null    int64
 5   배급사     274 non-null    object
dtypes: int64(3), object(3)
memory usage: 15.0+ KB

In [9]:
df_over100["영화명"]

0                    명량
1                  극한직업
2                   베테랑
3                   도둑들
4               7번방의 선물
             ...
269                그놈이다
270              오직 그대만
271             파괴된 사나이
272    가문의 영광5 - 가문의 귀환
273              심장이 뛴다
Name: 영화명, Length: 274, dtype: object

In [ ]:
# 기본적인 컬럼 수가 너무 부족함 --> 영화 진흥위원회 API를 통한 감독, 주연, 조연 배우, 스크린 점유율 받아오거나 영화사이트에서 크롤링 해오기
# 필요한 컬럼 : 감독, 주연, 조연, 장르
# 리뷰 크롤링을 통한 감정 분석 --> 한글 감정분석 패키지가 있나?