# 명량 VS 7번방의 선물

### 필요 패키지

In [1]:
import pandas as pd
import numpy as np

### 데이테 파일 불러오기

In [5]:
# 명량 
mr = pd.read_html("./boxofficeFiles/명량.xls", encoding="utf-8")
mr = mr[1]
mr

,날짜,스크린수,스크린점유율,상영횟수,상영점유율,좌석수,좌석점유율,좌석판매율,매출액,매출액증감(전일대비),관객수,관객수증감(전일대비),누적매출액,누적관객수,순위
0,2014-07-20,1,0.0%,1,0%,238,0.0%,100.0%,1428000,1428000 ( 100.0% ),238,238 ( 100.0% ),1428000,238,34
1,2014-07-21,18,0.5%,28,0.2%,7241,0.3%,74.1%,44016000,42588000 ( 2982.4% ),5369,5131 ( 2155.9% ),45444000,5607,7
2,2014-07-22,37,1.0%,38,0.3%,5600,0.3%,9.9%,4416000,-39600000 ( -90.0% ),552,-4817 ( -89.7% ),49860000,6159,22
3,2014-07-23,4,0.1%,4,0%,837,0.0%,100.0%,6696000,2280000 ( 51.6% ),837,285 ( 51.6% ),56556000,6996,9
4,2014-07-24,8,0.2%,10,0.1%,1741,0.1%,108.6%,14979000,8283000 ( 123.7% ),1890,1053 ( 125.8% ),71535000,8886,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2020-06-12,1,0.0%,1,0%,413,0.0%,0.0%,0,0 ( 0.0% ),0,0 ( 0.0% ),135757418810,17615686,128
166,2022-07-04,1,0.0%,1,0%,35,0.0%,100.0%,175000,175000 ( 100.0% ),35,35 ( 100.0% ),135757593810,17615721,48
167,2022-07-05,1,0.0%,1,0%,62,0.0%,72.6%,225000,50000 ( 28.6% ),45,10 ( 28.6% ),135757818810,17615766,49
168,2022-07-06,1,0.0%,1,0%,62,0.0%,56.5%,175000,-50000 ( -22.2% ),35,-10 ( -22.2% ),135757993810,17615801,48
169,2022-07-07,1,0.0%,1,0%,62,0.0%,69.4%,215000,40000 ( 22.9% ),43,8 ( 22.9% ),135758208810,17615844,53

In [6]:
# 7번방의 선물
m7 = pd.read_html("./boxofficeFiles/7번방의선물.xls", encoding="utf-8")
m7 = m7[1]
m7

,날짜,스크린수,스크린점유율,상영횟수,상영점유율,좌석수,좌석점유율,좌석판매율,매출액,매출액증감(전일대비),관객수,관객수증감(전일대비),누적매출액,누적관객수,순위
0,2013-01-13,1,0.0%,1,0%,280,0.0%,100.7%,1410000,1410000 ( 100.0% ),282,282 ( 100.0% ),1410000,282,27
1,2013-01-14,6,0.2%,6,0%,2006,0.1%,98.7%,15210000,13800000 ( 978.7% ),1980,1698 ( 602.1% ),16620000,2262,12
2,2013-01-16,3,0.1%,3,0%,834,0.0%,101.4%,6768000,6768000 ( 100.0% ),846,846 ( 100.0% ),23388000,3108,18
3,2013-01-17,1,0.0%,1,0%,144,0.0%,100.0%,1008000,-5760000 ( -85.1% ),144,-702 ( -83.0% ),24396000,3252,31
4,2013-01-18,21,0.6%,21,0.2%,5454,0.2%,99.8%,48510000,47502000 ( 4712.5% ),5443,5299 ( 3679.9% ),72906000,8695,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2020-05-23,25,0.5%,27,0.3%,3227,0.2%,2.7%,522000,218000 ( 71.7% ),87,35 ( 67.3% ),91435964170,12811909,38
146,2020-05-24,34,0.6%,39,0.5%,4531,0.3%,2.9%,791000,269000 ( 51.5% ),130,43 ( 49.4% ),91436755170,12812039,31
147,2020-05-25,21,0.5%,21,0.3%,2652,0.3%,1.8%,291000,-500000 ( -63.2% ),49,-81 ( -62.3% ),91437046170,12812088,38
148,2020-05-26,22,0.5%,23,0.4%,2842,0.3%,1.6%,270000,-21000 ( -7.2% ),46,-3 ( -6.1% ),91437316170,12812134,41
149,2020-05-27,5,0.1%,5,0.1%,492,0.0%,2.0%,52000,-218000 ( -80.7% ),10,-36 ( -78.3% ),91437368170,12812144,73

### EDA